.main-nav {

    .link-home {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .logo-image {
        max-width: 100%;
        width: 50px;
        margin-top: 5px;
    }

    .logo-text {
        margin: 0px;
        margin-top: 5px;
        color: #00bc77;
        font-size: 2rem;
        font-weight: 500;
        @media (max-width: 500px) {
            display: none;
          }

        &-bank {
            font-weight: 600;
            margin-right: 10px;
        }
    }

    .other-link {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .green {
        color: #00bc77;
        text-decoration: none;
    }

    .username {
        margin-right: 10px;
        align-items: center;
    }

    .size {
        font-size: 2rem;
    }

}

.update-name {
    padding: 2rem;

    .title-update-name {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 48px;
        font-weight: 400;
    }

    .update-name-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .update-name-input-wrapper {
        padding: 5px;
        width: 100%;

        label {
            margin-right: 10px;
        }

        input {
            border-radius: 4px;
            padding: 5px;
        }   
    }

    .buttons-edit {
        display: flex;
        gap: 10px;
        margin-top: 30px;
        justify-content: center;
    }

    .edit-button {
        border: none;
        border-radius: 4px;
        padding: 15px;
        width: 150px;
        background-color: #00bc77;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
}